:root {
  --police-titre: georgia;
  --police-txt: Verdana;
  --color-main: #2c3682;
  --color-second-ico: #f36c3f; /*icone uniquement*/
  --color-second-acc: #c94a28; /*bouton text*/
  --color-serv: #f0b74b; /*texte sombre*/
  --color-pop: #386d72;
  --color-bg: #fefefe;
  --color-txt: #121314;
  --bordure-rond: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 5px;
  margin: 5px;
  font-family: var(--police-txt);
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 30px;
}
h1,
h2,
h3,
h4,
h5 .titre {
  font-family: var(--police-titre);
  text-transform: uppercase;
}
#color-titre,
#typo-titre,
.composant-titre,
.comp-titre {
  width: 100%;
  font-family: var(--police-titre);
}
.couleur,
.typo,
.composants {
  flex-direction: column;
  gap: 20px;
  border: 3px solid var(--color-second-acc);
  padding: 30px;
}
.fond {
  display: flex;
  flex-wrap: wrap;
  background-color: #a8a8a8;
  padding: 5px;
  gap: 30px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.justif {
  text-align: justify;
}
.logo {
  width: 70px;
}

/* COULEURS */

.couleur .fond {
  flex-wrap: wrap;
  gap: 15px;
}
.block-color {
  padding: 0.8rem 1.2rem;
  border-radius: var(--bordure-rond);
}
.principal {
  background-color: var(--color-main);
  color: var(--color-bg);
}
.secondaire-ico {
  background-color: var(--color-second-ico);
  color: var(--color-txt);
}
.secondaire-acc {
  background-color: var(--color-second-acc);
  color: var(--color-bg);
}
.service {
  background-color: var(--color-serv);
  color: var(--color-txt);
}
.pop {
  background-color: var(--color-pop);
  color: var(--color-bg);
}

.color-preview {
  min-width: 180px;
  min-height: 180px;
  margin: 15px;
  text-align: center;
  align-content: center;
}
.color-card:nth-child(1) .color-preview {
  background: var(--color-main);
  color: var(--color-bg);
}
.color-card:nth-child(2) .color-preview,
.orange {
  background: var(--color-second-ico);
  color: var(--color-bg);
}
.color-card:nth-child(3) .color-preview {
  background: var(--color-second-acc);
  color: var(--color-bg);
}
.color-card:nth-child(4) .color-preview {
  background: var(--color-serv);
  color: var(--color-bg);
}
.color-card:nth-child(5) .color-preview {
  background: var(--color-pop);
  color: var(--color-bg);
}

.couleur section {
  padding: 20px;
  gap: 15px;
}

.color-card {
  width: 100px;
  flex: 1;
}

/* TYPOGRAPHIE */

#typographies {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}
.typo .fond {
}

.typo-card {
  border: 1px solid var(--color-txt);
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.typo-card h1,
h2,
.h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: left;
}
.typo-card__titre.geortitre {
  font-family: var(--police-titre);
}
.typo-card__titre.verdtitre {
  font-family: var(--police-txt);
}
.typo__def {
  width: 100%;
  border-top: 1px solid var(--color-txt);
  text-align: center;
}

/* FOOTER */

#logoTeam {
  width: 120px;
  height: 100px;
}

/* COMPOSANT */

.composants h2 {
  width: 100%;
}
.composants section {
  padding: 30px;
  gap: 15px;
}
.comp-groupe {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.fond.cat {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.comp-card {
  width: 70px;
  height: 80px;
  text-align: center;
  align-content: center;
  border-radius: var(--bordure-rond);
  background-color: var(--color-bg);
}
.comp-card.click {
  background-color: var(--color-second-acc);
  border: 1px solid var(--color-serv);
}
.nav__cat,
.nav__cat-click {
  text-decoration: none;
  color: var(--color-txt);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.nav__cat img {
  height: 30px;
}
.nav__cat-click {
  color: var(--color-bg);
}
.composants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-produit {
  width: 140px;
  border-radius: 10px;
  justify-items: center;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-produit-rupture {
  .img-produit {
    filter: blur(0.5rem) grayscale();
  }
}

.img-produit {
  display: block;
  width: 140px;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.titre-produit,
.titre-items,
.prix,
.ajout-panier,
.prix-produit {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.ajout-panier {
  display: block;
  width: 140px;
  color: var(--color-bg);
  padding: 10px 0;
  background-color: var(--color-second-acc);
  align-content: center;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
.prix-produit {
  font-weight: bold;
  font-size: 24px;
  color: var(--color-main);
  padding-bottom: 5px;
  font-family: var(--police-txt);
}
.titre-items {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  color: var(--color-txt);
  padding: 5px;
}
.info-dispo {
  min-width: 64px;
  min-height: 20px;
  border-radius: 15px;
  background-color: var(--color-main);
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  color: var(--color-bg);
  padding: 0 10px 0 10px;
  position: absolute;

  top: 5px;
  left: 5px;
}
.card-produit-faible .info-dispo {
  background-color: var(--color-serv);
  color: var(--color-txt);
}
.card-produit-rupture .info-dispo {
  background-color: var(--color-main);
  filter: grayscale();
  position: absolute;
  top: 60px;
  left: 30px;
}
.card-produit-rupture .ajout-panier {
  filter: grayscale(1);
  color: var(--color-txt);
  text-transform: capitalize;
}

/* COMPOSANT POP-UP */

.pop-up {
  width: 160px;
  height: 80px;
  display: flex;
  background-color: var(--color-pop);
  gap: 10px;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  color: var(--color-bg);
  img {
    width: 20px;
    height: auto;
    margin: 10px;
  }
  p {
    display: inline;
    margin: 10px;
    
  }
}
.autre{
  background-color: var(--color-serv);
  color: black;
}
.sombre{
  background-color: black;
  color: white;
  }
